body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  
}

.box-1 {
    width: auto;
    height: auto;
}

.container1 {
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
}

.container1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.container1 .text-overlay {
    position: absolute;
    top: 50%;
    left: 65%;
    
  
   
    color: black;
    transform: translate(-50%, -50%);
    
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.container1:hover .text-overlay {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.opaque {
    opacity: 0.3; /* Puedes ajustar este valor según desees */
}


.container1 img {
    animation: move 5s ease-in-out infinite alternate;
}

p{
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    text-align: justify;

}
h1{
    font-size: 14px;
    text-align: center;
}.socio{
    background-color: azure;
    padding: 14px;
    border-radius: 14px;
    border:2px solid green;
    margin-left: 0%;
    font-size: 14px;
    
}
.socio3{
    background-color: azure;
    padding: 14px;
    border-radius: 14px;
    border:2px solid green;
    font-size: 14px;
}
.socio2{
    background-color: azure;
    padding: 14px;
    border-radius: 14px;
    border:2px solid green;
    font-size: 14px;
}
.titulosocio{
    position: absolute;
    
    left: 12%;
   top:7%;
   font-family: Arial, Helvetica, sans-serif;

 transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;


}
.container1:hover .titulosocio {
    opacity: 1;
    transform: translate(-8%, -8%) scale(1.1);
}
.titulos{
    position: absolute;
    left: 12%;
   top:26%;
   font-family: Arial, Helvetica, sans-serif;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
 

}
.container1:hover .titulos {
    opacity: 1;
    transform: translate(-8%, -8%) scale(1.1);
}
.titulosactividad{
    position: absolute;
    left: 12%;
   top:67%;
   font-family: Arial, Helvetica, sans-serif;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
 

}
.container1:hover .titulosactividad {
    opacity: 1;
    transform: translate(-8%, -8%) scale(1.1);
}.titulosactividad1{
    position: absolute;
    left: 12%;
   top:86%;
   font-family: Arial, Helvetica, sans-serif;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
 

}
.container1:hover .titulosactividad1 {
    opacity: 1;
    transform: translate(-8%, -8%) scale(1.1);
}


.titulos1{
    position: absolute;
    left: 12%;
   top:48%;
   font-family: Arial, Helvetica, sans-serif;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
   
}
.container1:hover .titulos1 {
    opacity: 1;
    transform: translate(-8%, -8%) scale(1.1);
}

.caja{
    font-size: 20px;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
}
.titulos4{
    position: absolute;
    left: 40%;
   top:15%;
   font-family: Arial, Helvetica, sans-serif;
   height: 9%;
   width: 6%;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
   

}
.container1:hover .titulos4 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
.flecha{
 
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.titulos5{
    position: absolute;
    left: 40%;
   top:35%;
   font-family: Arial, Helvetica, sans-serif;
   height: 9%;
   width: 6%;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
   

}
.container1:hover .titulos5 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
.flecha1{
 
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
.titulos6{
    position: absolute;
    left: 40%;
   top:55%;
   font-family: Arial, Helvetica, sans-serif;
   height: 9%;
   width: 6%;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
   

}
.container1:hover .titulos6 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
.titulos7{
    position: absolute;
    left: 40%;
   top:75%;
   font-family: Arial, Helvetica, sans-serif;
   height: 9%;
   width: 6%;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
   

}
.container1:hover .titulos7 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
.titulos8{
    position: absolute;
    left: 40%;
   top:95%;
   font-family: Arial, Helvetica, sans-serif;
   height: 9%;
   width: 6%;
   transform: translate(-50%, -50%);
    
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
   

}
.container1:hover .titulos8 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
.flecha2{
 
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}
.caja1{
    font-size: 17px;
}
